<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Short Circuit Evaluation Tester</title>
    <link type='text/css' href='stylesheets/styles.css' rel='stylesheet'/>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>