<h1>Javascript Short Circuit Evaluation Tester</h1>

<p>The tester is a 10-question quiz designed to help you improve your ability to handle Javascript short circuit evaluation questions</p>

<p>When the quiz starts you will be shown a short-circuit evaluation question involving truthy or falsy values separated by either a && or || logical operator</p>

<p>Enter your answer in the text box below each question. Then the next quest will show. THere are 10 questions total.</p>

<a href='./quiz'>Play</a>

<a href='./leaderboard'>View Leaderboard</a>