<h1>JS Short Circuit Tester</h1>

<p>The tester is a 10-question quiz designed to help you improve your ability to evaluate Javascript expressions involving short-circuit logic.</p>

<p>When the quiz starts you will be shown a short-circuit evaluation question involving truthy or falsy values separated by either a && or || logical operator with an input box for your response.</p>

<p>Enter your response in the text box below each question and press enter to submit.</p>

<div class='flex'>
    <a class='button' href='/quiz'>Play</a>
    <a class='button' href='/leaderboard'>View Leaderboard</a>
</div>