<a href='/'><h1>JS Short Circuit Tester</h1></a>

<h2>Leaderboard</h2>

<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {{#each top10}}
            <tr>
                <td>{{incr @index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.score}}/10</td>
                <td>{{this.time}}s</td>
            </tr>
        {{/each}}
    </tbody>
</table>

