<h1>Quiz</h1>

<p>Time</p>
<div id='timer'>1</div>

{{#each questions}}
<div class='hidden' id='question{{@index}}'>{{this.text}}</div>
{{/each}}

<form>
    <input type='text' id='enterResponse'/>
    <input type='submit' class='hidden'/>
</form>

<form method='POST' action='/quiz' id='responsesForm'>
    <input type='hidden' name='responses' id='responses'/>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='/scripts/quizScript.js'></script>