<h1>Quiz</h1>

<p>Time</p>
<div id='timer'>1</div>

{{#each questions}}
<div class='hidden' id='question{{@index}}'>{{this.text}}</div>
{{/each}}

<form>
    <input type='text'/>
    <input type='submit'/>
</form>

<script src='/scripts/quizScript.js'></script>