<h1>JS Short Circuit Quiz</h1>

<div class='centered'>
    <p class='no-margin'>Time</p>
    <div id='timer'>0</div>
</div>

<div class='centered'>
    {{#each questions}}
        <div class='hidden questionText' id='question{{@index}}'>{{this.text}}</div>
    {{/each}}

    <form class='flex-col'>
        <input type='text' id='enterResponse'/>
        <input type='submit' value='Next &rarr;'/>
    </form>
</div>

<form method='POST' action='/quiz' id='dataForm'>
    <input type='hidden' name='quizId' value='{{quizId}}' />
    <input type='hidden' name='data' id='data'/>
</form>

<script src='/scripts/quizScript.js'></script>